header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: hotpink;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

h1 {
  color: pink;
  font-family: "Georgia", serif;
  margin: 0;
  text-align: center;
}
